{% extends 'base.html' %}

{% block title %}万象笔记首页{% endblock %}

{% block main %}
<h1>博客列表</h1>
    <div class="row row-cols-2 row-gap-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="#">欢迎来到万象笔记Bigggblog</a>
                </div>
                <div class="card-body" style="height: 130px;">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/picture.png' %}" alt="" class="rounded-circle" width="30" height="30">
                        毁灭
                    </div>
                    <div>发布时间：2025-3-28 11:02:36</div>
                </div>
            </div>
            
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="#">欢迎来到万象笔记Bigggblog</a>
                </div>
                <div class="card-body" style="height: 130px;">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/picture.png' %}" alt="" class="rounded-circle" width="30" height="30">
                        毁灭
                    </div>
                    <div>发布时间：2025-3-28 11:02:36</div>
                </div>
            </div>
            
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="#">欢迎来到万象笔记Bigggblog</a>
                </div>
                <div class="card-body" style="height: 130px;">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'img/picture.png' %}" alt="" class="rounded-circle" width="30" height="30">
                        毁灭
                    </div>
                    <div>发布时间：2025-3-28 11:02:36</div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}